#nd___box {
  all: unset;
}
#nd___box * {
  all: unset;
}

#nd___box {
  background-color: #eee !important;
  border: #9e9e9e 1px solid !important;
  padding: 10px !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  font-family: 'Helvetica Neue', Helvetica, arial !important;
  font-size: 12px !important;
  text-align: left !important;
  z-index: 9999999999999999999999 !important; /* really, lol */
  color: #222 !important;
	width: 305px;
	height: 155px;
	text-shadow: 1px 1px #fff;
	line-height: 16px !important;
}
#nd___selector {
  width: 90% !important;
	padding: 4px !important;
	font-size: 1em;
	color: #333;
}


#nd___selector::-webkit-input-placeholder {
   color: #aaa;
}

#nd___box form {
  display: block !important;
  margin-top: 0em !important;
  background-color: transparent !important;
}
#nd___box a {
	color: #4286f4;
	text-decoration: none;
}

#nd___box a:hover {
	color: #425ff4;
	text-decoration: underline;
	cursor: pointer;
}

#nd___box p {
  display: block !important;
  -webkit-margin-before: 1em !important;
  -webkit-margin-after: 1em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  background-color: transparent !important;
}

#nd___box  input:not([type]),
#nd___box input[type="color"],
#nd___box  input[type="date"],
#nd___box input[type="datetime"],
#nd___box input[type="datetime-local"],
#nd___box input[type="email"],
#nd___box input[type="month"],
#nd___box input[type="number"],
#nd___box input[type="password"],
#nd___box input[type="tel"],
#nd___box input[type="text"],
#nd___box input[type="time"],
#nd___box input[type="url"],
#nd___box input[type="week"],
#nd___box input[type="checkbox"]
 {
  padding: 0 4px;
  border: 1px solid #cecece;
	background-color: white;
}

#nd___box input[type="checkbox"]{
	float: left;
	width: 16px;
	height: 16px;
	margin: 0;
	opacity: 0;
	position: relative;
	z-index: 5;
}
#nd___box input[type="checkbox"]+label{
	margin: 0 0 0 20px;
  display: block;
	padding: 0;
	z-index: 1;
	position: relative;
	font-size: 12px;
	padding: 2px;
	text-indent: -0.5em;
}
#nd___box input[type="checkbox"]+label:before{
	content: '';
	position: absolute;
	top: 1px;
	left: -20px;
	width: 14px;
	height: 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: rgba(0,0,0,0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.14);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.14);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.14);
	border: solid 1px #bbb;
}
#nd___box input[type="checkbox"]+label:after{
	content: '';
	position: absolute;
	top: 4px;
	left: -17px;
	width: 10px;
	height: 10px;
	background: #7dc093;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	opacity: 0;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}
#nd___box input[type="checkbox"]:checked+label:after{opacity: 1;}


#nd___highlighted {
  outline-color: #CC0000 !important;
  outline-width: 2px !important;
  outline-style: dashed !important;
	
}

#nd___box input[type="checkbox"] {
  margin: 3px 3px 3px 6px !important;
}

#nd___box input[type="checkbox"]:first-of-type {
  margin-left: 0 !important;
}

#nd___box .ui-icon {
  width: 16px;
  height: 16px;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
	position: absolute;
}
#nd___box label {
  cursor: default;
}
#nd___status {
  font-weight: bold;
}
#nd___close {
  position: absolute;
  top: 10px;
  right: 10px;
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: transparent;
	border: 0 none;
  text-indent: -9999px;
	cursor: pointer;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAVlpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KTMInWQAAALBJREFUKBWNkdENwjAMRA3dizXYpP+ULxBsxC8SI7BJ/4B7jl05FUJYOvliX+JLMpjZTtgLd4EYhLezno/RMwiCU4hI20CWziJo0HogpnBpS9soA4La+sCukZsoXkNca+7ZdxTBURzUqWi4nwee00IKEU+t7T00frmofU15SNdcxqianpmSk6r/ql1eowrg63v4tHznFP981n8+Lv9pxBN4Cgef1dYvcazQI9+EWXh8AHBNLrw6Br3RAAAAAElFTkSuQmCC');
}
#nd___title{
  font-weight: bold !important;
  font-size: 1.1em !important;
	text-shadow: 0 1px 0 #ffffff;
}
